span{
    display: inline-block;
    animation: ripple 1.2s infinite ease-in-out;
    font-family: 'Montserrat', sans-serif;
}
span:nth-child(1){
    animation-delay: 0s;
}
span:nth-child(2){
    animation-delay: 0.1s;
}
span:nth-child(3){
    animation-delay: 0.2s;
}
span:nth-child(4){
    animation-delay: 0.25s;
}
@keyframes ripple {
    0%, 100%{
        transform: translateY(0);
        scale: (1);
        color: rgb(0, 0, 0);
    }
    50%{
        transform: translateY(-15px);
        scale:(1.2);
        color: rgb(0, 0, 0);
    }

}